<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
				xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>GamingcommunityX</title>
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="/css/styles.css" rel="stylesheet" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
     <style type="text/css">
     	.container1 {
     		width: 1300x;
     	}
     </style>
    </head>
    	<body class="container1 container">
	        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	        	   <div class="container px-5">
	                <a class="navbar-brand" th:href="@{/}">jms게임커뮤니티</a>
	                    <ul sec:authorize="!isAuthenticated()"  class="navbar-nav">
	                        <li class="nav-item"><a class="nav-link" th:href="@{/user/userjoin}">회원가입</a></li>
	                        <li class="nav-item"><a class="nav-link" th:href="@{/user/idpasswordSearch}">아이디/비번찾기</a></li>
	                        <li class="nav-item"><a class="nav-link" th:href="@{/system/loginform}">로그인</a></li>
	                    </ul>
	                   
	                 <ul sec:authorize="isAuthenticated()" class="navbar-nav">
	                    <li class="nav-item">
	                    <a th:href="@{/user/userinfo}" style="text-decoration: none;"><span class="nav-link" sec:authentication="principal.username"style="margin-top: 10px"></span></a>
	                    </li>
	                    
	                    <li class="nav-item"sec:authorize="hasRole('ROLE_ADMIN')"><a class="nav-link" th:href="@{/note/noteList}">쪽지함</a></li>
	                    <li class="nav-item"sec:authorize="hasRole('ROLE_ADMIN')"><a class="nav-link" th:href="@{/point/pointView}">포인트충전</a></li>
	                    <li class="nav-item"><a class="nav-link" th:href="@{/system/logout}">로그아웃</a></li>
	                </ul>
	                </div>
	        </nav>
    
        
        <!-- Page Content-->
        <div class="container px-4 px-lg-5">
            <!-- Heading Row-->
            <div class="row gx-4 gx-lg-5 align-items-center my-5" style="padding-top: 50px">
                <div class="col-lg-5">
              		<a th:href="@{/board/buyboardList?boardType=팝니다}"><img class="img-fluid rounded mb-4 mb-lg-0" src="/images/구매.png" alt="..." style="padding-right: 50px"></a>
              		<a th:href="@{/board/sellboardList?boardType=삽니다}"><img class="img-fluid rounded mb-4 mb-lg-0"  src="/images/판매.png" alt="..." /></a>
                </div>
                <div class="col-lg-5">
              		<a th:href="@{/board/newsboardList?boardType=자유게시판}"><img class="img-fluid rounded mb-4 mb-lg-0" src="/images/뉴스.png" alt="..." style="padding-right: 70px"></a>
              		<a th:href="@{/board/noticeboardList?boardType=공지사항}"><img class="img-fluid rounded mb-4 mb-lg-0" src="/images/공지.png" alt="..." ></a>
                </div>
            </div>
           
            <!-- Content Row-->
        <!-- 
            <div class="row gx-4 gx-lg-5" style="padding-top: 100px">
                <div class="col-md-4 mb-5">
                    <div class="card h-100">
                        <div class="card-body">
                            <h2 class="card-title">팝니다</h2>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem magni quas ex numquam, maxime minus quam molestias corporis quod, ea minima accusamus.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <div class="card h-100">
                        <div class="card-body">
                            <h2 class="card-title">삽니다</h2>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod tenetur ex natus at dolorem enim! Nesciunt pariatur voluptatem sunt quam eaque, vel, non in id dolore voluptates quos eligendi labore.</p>
                        </div>
                    </div>
                </div>
                 <div class="col-md-4 mb-5">
                    <div class="card h-100">
                        <div class="card-body">
                            <h2 class="card-title">자유게시판</h2>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod tenetur ex natus at dolorem enim! Nesciunt pariatur voluptatem sunt quam eaque, vel, non in id dolore voluptates quos eligendi labore.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
         -->
        <!-- Footer-->
       <footer class="py-0 bg-dark">
            <div class="container px-4 px-lg-5"><p class="m-0 text-center text-white">사이트주소 www.jms.com
            <br>
            이메일 anstndwkd@naver.com</p></div>
        </footer>
    </body>
</html>
